<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>

</head>

     
<body>
 <div class="login">
	<h1>Bank Term Deposit</h1>
    <form action="{{ url_for('predict_datapoint')}}" method="post">
      <input type="text" name="age" placeholder="age" required="required" /><br>
    	<input type="text" name="job" placeholder="job" required="required" /><br>
        <input type="text" name="marital" placeholder="marital" required="required" /><br>
        <input type="text" name="education" placeholder="education" required="required" /><br>
        <input type="text" name="default" placeholder="default" required="required" /><br>
        <input type="text" name="housing" placeholder="housing" required="required" /><br>
        <input type="text" name="loan" placeholder="loan" required="required" /><br>
        <input type="text" name="contact" placeholder="contact" required="required" /><br>
        <input type="text" name="month" placeholder="month" required="required" /><br>
        <input type="text" name="day_of_week" placeholder="day_of_week" required="required" /><br>
        <input type="text" name="duration" placeholder="duration" required="required" /><br>
        <input type="text" name="campaign" placeholder="campaign" required="required" /><br>
        <input type="text" name="previous" placeholder="previous" required="required" /><br>
        <input type="text" name="poutcome" placeholder="poutcome" required="required" /><br>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
<body>

   <br>
   <br>


 </div>
 {{result}}

</body>
</html>